.baseButton {
  cursor: pointer;
  border-radius: 8px;
  padding: 0 1rem;
  border: 1px solid var(--darkGreen);
  color: white;
  margin: 1rem 0 ;
}

.baseButton:hover {
  background: var(--darkGreen);
  border: 1px solid var(--mainGreen);
  color: white;
}

.filledButton {
  composes: baseButton;
  background-color: var(--mainGreen);
}

.outlinedButton {
  composes:baseButton;
  border: 1px solid var(--mainGreen);
  color: var(--darkGreen);
}