.wrapper {
  position: absolute;
  background: transparent;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: grid;
  place-items: center;
}

.background {
  background: transparent;
  height: 100%;
  width: 100%;
}

.modal {
  background-color: white;
  padding: 1rem;
  width: 75%;
  height: fit-content;
}