.form {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &>div>label {
    display: block;
  }

  &>div>input {
    border-radius: 8px;
    border: 2px solid var(--darkGreen);
    padding: .5rem;
    flex:1;
  }
  &>div>input:focus {
    outline: none;
  }

}