.title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-weight: normal;
  margin-bottom: 1rem;

  &>title{
    display: inline;
    margin-right: auto;
  }
}

.card {
  border: 1px solid rgb(var(--darkGreenRGB),0.5);
  background-color: rgb(var(--mainGreenRGB),0.15);
  border-radius: 10px;
  padding: 1rem;
  font-size: 1.75rem;
}

.balanceDisplayWrapper {
  display: flex;
  align-items: baseline;
  color: var(--darkGreen);
}

#max {
  margin-left: 3px;
  font-size: 1.25rem;
  color: rgb(var(--darkGreenRGB),.8);
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  gap: 6px;
}