.title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-weight: normal;
  margin-bottom: 1rem;

  &>title{
    display: inline;
    margin-right: auto;
  }
}

.card {
  border: 1px solid rgb(var(--darkGreenRGB),0.5);
  border-radius: 10px;
  padding: 1rem;
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.balanceDisplayWrapper {
  display: flex;
  align-items: baseline;
  color: var(--darkGreen);
}

#max {
  margin-left: 3px;
  font-size: 1.25rem;
  color: rgb(var(--darkGreenRGB),.8);
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  gap: 6px;
}

.hidden {
  opacity: 0;
  cursor: unset;
  margin-right: auto;
  transform: translateX(-1rem);
  z-index: -1;
}

.popupButton {
  opacity: 1;
  transition: opacity 0.5s linear, transform 0.25s linear;
  margin-right: auto;
  z-index: 2;
}