.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;

  & > label {
    display: block;
  }

  & > input {
    height: 32px;
    border-radius: 8px;
  }

  & > span {
    display: block;
    width: fit-content;
    padding: 4px;
    border-radius: 8px;
    color: hsl(350, 94%, 28%);
    background-color: hsl(360, 100%, 80%);
  }
}

.buttonGroup {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.buttonBase {
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  width: fit-content;
}

.cancelButton {
  composes: buttonBase;
  background-color: hsl(214, 15%, 91%);
  color: hsl(230, 49%, 41%);
}

.confirmButton {
  composes: buttonBase;
  background-color: hsl(230, 49%, 41%);
  color: white;
}