.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;

  & > label {
    display: block;
  }

  & > input {
    height: 32px;
    border-radius: 8px;
  }

  & > span {
    display: block;
    width: fit-content;
    padding: 4px;
    border-radius: 8px;
    color: hsl(350, 94%, 28%);
    background-color: hsl(360, 100%, 80%);
  }
}