.wrapper {
  position: absolute;
  background: rgb(0,0,0,0.4);
  height: 100vh;
  width: 100vw;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  background: rgb(0,0,0,0.4);
  height: 100%;
  width: 100%;
}

.modal {
  position: absolute;
  background-color: white;
  z-index: 20;
  padding: 1rem;
  width: 50%;
  height: 50%;
}

.divider {
  border-radius: 8px;
  border-top: 1px solid rgb(0,0,0,0.3);
  margin-bottom: 1rem;
}

.closeButton {
  all: unset;
  background: white;
  color: black;
  cursor: pointer;
  padding: 1rem;
}

.titleWrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &>div>label {
    display: block;
  }

  &>div>input {
    border-radius: 8px;
    border: 2px solid var(--darkGreen);
    padding: .5rem;
    flex:1;
  }
  &>div>input:focus {
    outline: none;
  }

}

.error {
  color: rgba(251, 58, 33, 0.815);
  margin-left: 1rem;
}