.wrapper {
  border-radius: 8px;
  border: 1px solid var(--darkGreen);

  &>*{
    padding:  0 1rem;
  }
}

.innerWrapper {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.amount {
  margin-right: 1.5rem;
}

.description {
  overflow-wrap: break-word;
  overflow-y: auto;
}