.wrapper {
  border-radius: 8px;
  border: 1px solid var(--darkGreen);

  &>*{
    padding:  0 1rem;
  }
}

.innerWrapper {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.amount {
  margin-right: 1.5rem;
}

.description {
  overflow-wrap: break-word;
  overflow-y: auto;
}

.hidden {
  opacity: 0;
  cursor: unset;
  margin-right: auto;
  transform: translateX(-1rem);
  z-index: -1;
}

.popupButton {
  opacity: 1;
  transition: opacity 0.5s linear, transform 0.25s linear;
  margin-right: auto;
  z-index: 2;
}