:root {
  --mainGreen: #07F858;
  --mainGreenRGB: 7,248,88;
  --darkGreen: #007628;
  --darkGreenRGB: 0,118,40;
}



html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #F3FFD5;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  appearance: unset;
  writing-mode: unset;
  font-style: unset;
  font-variant-ligatures: unset;
  font-variant-caps: unset;
  font-variant-numeric: unset;
  font-variant-east-asian: unset;
  font-weight: unset;
  font-stretch: unset;
  font-size: unset;
  font-family: unset;
  text-rendering: unset;
  color: unset;
  letter-spacing: unset;
  word-spacing: unset;
  line-height: unset;
  text-transform: unset;
  text-indent: unset;
  text-shadow: unset;
  display: unset;
  text-align: unset;
  align-items: unset;
  cursor: pointer;
  background-color: unset;
  padding: unset; 
  margin: unset;
  border-width: unset;
  border-style: unset;
  border-color: unset;
  border-image: unset;
}

input {
  all: unset;
  display: block;
  
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

#__next {
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
