.wrapper {
  height: 100px;
  padding: 0 16px;
  text-align: center;
}

.buttonGroup {
  position: absolute  ;
  display: flex;
  justify-content: space-around;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8px;
  background-color: hsla(214, 15%, 91%, 1);
}

.cancelButton {
  color: black;  
}

.deleteButton {
  background-color: hsl(0,91%,69%);
  color: white;
}