@use "../CreateBudgetForm/CreateBudgetForm.module.scss";

.listWrapper {
  position: relative;
  z-index: 2;
}

.titleGroup {
  display: flex;
  justify-content: space-between;

}

.title {
  font-size: 24px;
  color: hsl(211, 12%, 43%);
}

.amountWrapper {
  text-align: right;
}

.amount {
  font-size: 48px;
  color: hsl(182, 85%, 39%, 1);
}

.max {
  color: hsl(211, 12%, 43%);
  font-size: 20px;
}

.warningBanner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 48px;
  height: 96px;
  clip-path: polygon(100% 0, 100% 100%, 50% 80%, 0 100%, 0 0);
}