@use "../CreateBudgetForm/CreateBudgetForm.module.scss";

.listWrapper {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.titleGroup {
  display: flex;
  justify-content: space-between;

}

.title {
  font-weight: normal;
  width: min-content;
  margin: 0 0 auto 0;
  font-size: 24px;
  color: hsl(211, 12%, 43%);
}

.amountWrapper {
  text-align: right;
}

.amount {
  font-size: 48px;
  color: hsl(182, 85%, 39%, 1);
}

.max {
  color: hsl(211, 12%, 43%);
  font-size: 20px;
}

.warningBanner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 48px;
  height: 96px;
  clip-path: polygon(100% 0, 100% 100%, 50% 80%, 0 100%, 0 0);
}

.itemWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px;

  &:active,
  &:hover {
    background-color: hsl(221, 20%, 95%);
    border-radius: 8px;
    box-shadow: 0 4px 8px hsl(0, 0%, 0%, 0.25);
  }

  & p {
    margin-right: auto;
  }

  & div {
    font-size: 24px;
    color: hsl(211, 12%, 43%);
  }
}

.expenseActions {
  position: relative;
  display: block;
  height: 24px;
  min-width: 24px;
}