.background {
  border-top: 10px solid hsl(234,62,26);
  background: white;
  background-image: url('/img/wiseboon-login-background-circle.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  justify-content: center;
  padding:  8px 48px;
}

.iconWrapper {
  position: relative;
  margin: 0 auto;
  height: 100px;
  width: 100px;
  margin-bottom: 64px;
}