.background {
  position: relative;
  background: white;
  background-image: url('../img/wiseboon-login-background-circle.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  display: grid;
  place-items: center;
}

.frosted {
  backdrop-filter: blur(8px);
  border-radius: 12px;
  border: 1px solid rgb(255,255,255,.2);
  background-color: rgb(255,255,255,.2);
}

.loginForm {
  composes: frosted;
  padding: 1rem; 

  &>button {
    margin: 0 auto;
    display: block;
  }
}

.guest {
  text-align: end;
  margin-bottom: 0;
  text-decoration: underline;
}

.wrapper {
  text-align: center;
}