.header {
  flex: 0 auto;
  background-color: white;
  padding: 8px 24px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 15px hsl(0,0,0,.15);
  z-index: 9;
}

.iconWrapper {
  position: relative;
  height: 48px;
  width: 48px;
}

.menuWrapper {
  position: relative;
  height: 48px;
  width: 48px;
  padding: 8px;

  & div:has(input:checked) + .menuItems {
    transform: unset;
  }
}

.menuItems {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-top: 8px solid hsl(227deg 49% 59%);
  position: fixed;
  transition: transform 0.5s;
  transform: translateX(-100vw);
  width: 100%;
  max-width: 320px;
  background: white;
  border-radius: 0 8px 8px 0;
  top: 0;
  left: 0;
  padding: 96px 32px;
  height: 100%;
}

.menuButton {
  appearance: unset;
}